body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.auth-form {
  max-width: 350px;
  margin: 50px auto;
  background: white;
  padding: 60px;
  border-radius: 6px;
}

.auth-form h2 {
  text-align: center;
}

.auth-form label {
  display: block;
  margin-top: 10px;
}

.auth-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.auth-form button {
  width: 106%;
  margin-top: 15px;
  padding: 10px;
  background: #f0c14b;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}
